body {
    background-image: url("../img/background_tab_mob.png");
    background-repeat: no-repeat;
    background-size: 1350px;
}
/*header tablet responsive section*/
/*-------------------------------------------------------------------------------------------------*/
#hamburger {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}
.items {
    display: none;
}