/*header mobile responsive section*/
/*-------------------------------------------------------------------------------------------------*/
.header {
    height: 65px;
}
.logo {
    font-size: 44px;
}
/*hero-header mobile responsive section*/
/*-------------------------------------------------------------------------------------------------*/

/*display none*/
/*-------------------------------------------------------------------------------------------------*/
.project_container{
    display: none;
}
.about_me{
    display: none;
}
.competances{
    display: none;
}
#contact_me{
    display: none;
}
.footer{
    display: none;
}