body {
    background-image: url("../img/background_tab_mob.png");
    background-repeat: no-repeat;
    background-size: 1360px;
}
/*header tablet responsive section*/
/*-------------------------------------------------------------------------------------------------*/
#hamburger {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}
.items {
    display: none;
}
.header {
    height: 96px;
}
.logo {
    font-size: 69px;
}
/*hero-header tablet responsive section*/
/*-------------------------------------------------------------------------------------------------*/
.hero_header {
    margin: auto;
    grid-template-columns: 5% 15% 25% 20% 25%;
    grid-template-rows: 13em 11em 27em 8em;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.my_name {
    width: 436px;
    height: 166px;
}
.my_desc {
    width: 360px;
    height: 151px;
    grid-area: 2/4/3/6;
}
.hero_header > a {
    grid-area: 4/1/6/6;
    margin: auto;
}
.hero_header {
    width: 100%;
}
.ichigo {
    width: 378px;
    height: 522px;
    margin-top: auto;
    margin-bottom: 50px;
    grid-area: 2/2/4/4;
}
.my_name > p {
    font-size: 86px;
}
.mname > p {
    font-size: 27px;
}
/*projects tablet responsive section*/
/*-------------------------------------------------------------------------------------------------*/
.project_section{
    margin: auto;
    flex-direction: column;
    height: fit-content;
    width: 720px;
}.projects {
    grid-template-columns: repeat(3, 45%);
    grid-column-gap: 6%;
    overflow: auto;
    height: 100%;
    margin: auto;
    width: 650px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.projects_intro > h1{
    font-size: 41px;
    text-align: center;
}
.projects_intro > p{
    font-size: 33px;
    text-align: center;
    width: 100%;
}
.project > img {
    width: 89px;
    height: 100px;
    margin: auto;
    padding: 10px;
}
.project > h3 {
    font-size: 25px;
}
.project > p {
    font-size: 17px;
}
.project > a > button {
    font-size: 16px;
    height: 44px;
}
.project > a{
    margin: auto;
    width: 100%;
}
.project{
    width: 297px;
    height: 333px;
    border-radius: 44px;
    margin: auto;
}
.project_container{
    width: 100%;
}
.projects_intro {
    padding: 20px;
    width: 100%;
}
/*display none*/
/*-------------------------------------------------------------------------------------------------*/
.about_me {
    display: none;
}
.competances {
    display: none;
}
#contact_me {
    display: none;
}
.footer {
    display: none;
}