*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EFF0F3;
}
.container {
    font-family: poppins;
}
/*header section*/
/*-------------------------------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 254, .2);
    backdrop-filter: blur(5px) ;
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 1;
}
#hamburger {
    display: none;
    cursor: pointer;
}
.hamburger_menu {
    width: 100%;
    height: 700px;
    background-color: #FF8E3C;
    position: fixed;
    top: -700px;
    transition: top 0.7s;
    display: grid;
    grid-template-rows: repeat(6,16.66%);
    border: 4px solid #FFFFFE;
}
.hamburger_menu > a {
    color: #FFFFFE;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}
.hamburger_menu > a:hover{
    color: #0D0D0D;
}
.items {
    list-style: none;
    display: flex;
    width: 70%;
    font-size: 23px;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}
.items > li > a {
    text-decoration: none;
    color: #0D0D0D;
}
.logo{
    margin-left: 30px;
    font-size: 45px;
    font-weight: 700;
    text-decoration: none;
    color: #0D0D0D;
}
.header_items > a:hover {
    text-decoration: line-through #FF1515;
}
/*hero header section*/
/*-------------------------------------------------------------------------------------------------*/
.my_name {
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFE;
    padding: 19px;
    width: 466px;
    height: 195px;
    border-bottom: solid 10px #E1E1E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-area: 1/2/2/4;
    margin-top: auto;
    
}
.my_name > p {
    font-size: 113px;
}
.mname > p {
    font-size: 32px;
}
.hello {
    color:#606060;
}
.ybhl {
    color:#0D0D0D;
    font-weight: 600;
}
.my_desc {
    border-radius: 35px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFE;
    padding: 19px;
    width: 402px;
    height: 168px;
    border-bottom: solid 10px #E1E1E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-area: 2/3/3/5;
    margin-top: auto;
}
.mname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btnCV{
    width: 476px;
    height: 76px;
    background-color: #FF8E3C;
    outline: 0;
    color: #0D0D0D;
    font-size: 32px;
    font-weight: 600;
    border-style: none;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hero_header > a {
    grid-area: 3/2/4/4;
    margin-top: auto;
}
.hero_header{
    width: 720px;
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 110%;
    grid-template-rows: 16em 16em 8em;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.ichigo {
    grid-area: 1/5/4/6;
    margin-left: auto;
}
.hero_header {
    padding-top: 100px;
}
/*projects section*/
/*-------------------------------------------------------------------------------------------------*/
.project > img {
    width: 129px;
    height: 140px;
    margin: auto;
}
.projects_intro > h1{
    font-size: 46px;
    color: #0D0D0D;
    font-weight: 700;
}
.projects_intro > p{
    font-size: 37px;
    width: 500px;
    margin-top: 30px;
    color: #2A2A2A;
}
.project{
    display: grid;
    justify-content: space-around;
    width: 533px;
    height: 670px;
    border-radius: 44px;
    padding: 30px;
    background-color: #FFFFFE;
}
.project > h3 {
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    height: fit-content;
    color: #0D0D0D;
}
.project > p {
    font-size: 34px;
    color: #2A2A2A;
}
.project > a > button {
    border-radius: 23px;
    border-style: none;
    background-color: #FF8E3C;
    width: 100%;
    color: #FFFFFE;
    font-size: 32px;
    font-weight: 500;
    height: 80px;
}
.project > a{
    margin: auto;
    width: 100%;
}
.projects {
    display: grid;
    grid-row-gap: 26px;
    overflow: scroll;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.projects::-webkit-scrollbar {
    display: none;
  }
.projects_intro {
    padding: 60px;
}
.project_container{
    height: 905px;
    display: flex;
    margin-top: 55px;
    flex-direction: column;
    justify-content: flex-end;
}
.project_section{
    display: flex;
    border-radius: 57px;
    margin: auto;
    width: 1251px;
    height: 755px;
    padding: 30px;
    background-color: #FF8E3C;
}
/*about me section*/
/*-------------------------------------------------------------------------------------------------*/
.about_me {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    width: 1251px;
    margin: auto;
}
.about_me > img {
    grid-row: 1/4;
    width: 540px;
    height: 540px;
    margin-top: 100px;
}
.about_me > h2 {
    font-size: 58px;
    margin-top: 100px;
    font-weight: 700;
}
.about_me > p {
    font-size: 37px;
    margin-top: 30px;
}
/*Competances section*/
/*-------------------------------------------------------------------------------------------------*/
.competances > img {
    width: 316px;
    height: 715px;
    margin-top: auto;
    margin-bottom: auto;
}
.competances > h2 {
    font-size: 58px;
    font-weight: 700;
    margin-left: 100px;
    text-align: center;
    z-index: -1;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);
}
.competances{
    display: grid;
    grid-template-columns: 10% 22% 68%;
    height: 865px;
}
.competance {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFE;
    border: solid 4px #0D0D0D;
    border-radius: 39px;
    width: 852px;
    height: 199px;
    padding: 20px;
}
.competance > img{
    width: 108px;
    height: 108px;
    margin-top: auto;
    margin-bottom: auto;
}
.competance > div > h4 {
    font-size: 35px;
    font-weight: 600;
    color: #0D0D0D;
}
.competance > div > p {
    font-size: 28px;
    color: #606060;
}
.competance > div{
    display: grid;
    grid-row-gap: 10px;
    align-items: center;
    width: 620px;
    height: 100%;
}
.compts {
    display: grid;
    grid-row-gap: 25px;
    width: 852px;
    height: 680px;
    margin-top: auto;
    margin-bottom: auto;
}
/*contact me section*/
/*-------------------------------------------------------------------------------------------------*/
.contact_me {
    display: grid;
    grid-template-columns: 45% 40%;
    grid-template-rows: 18% 38% 38%;
    grid-column-gap: 15%;
    grid-row-gap: 6%;
    padding: 60px;
    height: 601px;
    width: 1251px;
    background-color: #FF8E3C;
    border-radius: 57px;
    margin: auto;
    margin-top: 150px;
}
.email_number > h4 , .social_media > p {
    font-size: 40px;
    font-weight: 500;
    height: fit-content;
}
.email_number > img {
    height: 90px;
    width: 90px;
}
.email_number > p {
    font-size: 29px;
    height: fit-content;
    color: #EFF0F3;
}
.social_media {
    grid-area: 1/2/4/3;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: repeat(4, 5em);
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    margin-top: 3em;
}
.social_media > a{
    font-size: 45px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #0D0D0D;
}
.social_media > a:hover{
    color: #EFF0F3;
}
.email_number{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: repeat(2, 4em);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
}
.email_number > img {
    grid-row: 1/3;
    margin-bottom: auto;
}
.contact_me > h2 {
    font-size: 58px;
    font-weight: 700;
}
#facebook {
    height: 74px;
    width: 74px;
}
#instagram {
    height: 74px;
    width: 74px;
}
#twitter {
    height: 74px;
    width: 91px;
}
#github{
    height: 81px;
    width: 83px;
}
/*footer section*/
/*-------------------------------------------------------------------------------------------------*/
.footer {
    margin-top: 150px;
    background-color: #FF8E3C;
    height: 435px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 85% 15%;
    padding: 40px;
}
.logo_social {
    display: grid;
    grid-template-columns: repeat(4,5em);
    grid-template-rows: repeat(2,5em);
}
#ftr_logo {
    grid-column: 1/5;
    margin: 0%;
}
.footer_menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1/3;
    grid-column: 2/3;
}
.footer_menu > li > a {
    font-size: 32px;
    text-decoration: none;
    color: #0D0D0D;
}
.footer_menu > li > a:hover {
    text-decoration: line-through #FF1515;
    color: #EFF0F3;
}
#copyright{
    font-size: 21px;
    font-weight: 700;
}
@media screen and (min-width: 769px){
    body{
        background-image: url('../img/background.png');
        background-size: 1116px;
        background-repeat: no-repeat;
    }
}